@{
    ViewBag.Title = "Confirmación de envío de reestablecimiento de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique su correo para reestablecer su contraseña.
    </p>
</div>
@section scripts{
    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ScrollAbajo();
            }, false)
        })();
</script>
    }
