@{
    ViewBag.Title = "Confirmación de reestablecimiento de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Se reestableció su contraseña. Por favor @Html.ActionLink("haga click aquí para iniciar sesión.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
@section scripts{
    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ScrollAbajo();
            }, false)
        })();
    </script>
}
