@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>Conoce más sobre el despacho jurídico Villa</h3>

<p></p>
@section scripts{
    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ScrollAbajo();
            }, false)
        })();
    </script>
}
