
@{
    ViewBag.Title = "Acceso denegado";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    Esta página es para informarle que no tiene los permisos necesarios para ver lo
    que estaba buscando.
</h2>
<p>@Html.ActionLink("Inicie sesión", "Account/Login") para acceder.</p>

